

<div class="info-grey">
    <h3>Structure Format</h3>
    <a href="/format/cfg"><span class='label label-dark'><span class='icon-adjust icon-white'></span> CFG/Essentials</span></a>
    <a href="/format/iupac"><span class='label label-dark'><span class='icon-font icon-white'></span> Text</span></a>
    <a href="/format/uoxf"><span class='label label-dark'><span class='icon-stop icon-white'></span> Oxford</span></a>
    <a href="/format/uoxf-color"><span class='label label-dark'><span class='icon-stop icon-white'></span> Oxford Color</span></a>
    <a href="/format/cfg-uoxf"><span class='label label-dark'><span class='icon-stop icon-white'></span> CFG Oxford Hybrid</span></a>
</div>