@main {

    <div class="section">
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header text-primary">
                        <h1>Glycan Builder</h1>
                            <h4 class="subheader">An intuitive interface for building and displaying glycan structures</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="/GlycanBuilder/VAADIN/vaadinBootstrap.js"></script>

    <iframe id="__gwt_historyFrame" style="width:0 ; height:0 ; border:0 ; overflow:hidden" src="javascript:false"></iframe>

    <div class="section">
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <div style="height:450px ;" id="fb" class="v-app">
                            <!-- Optional placeholder for the loading indicator -->
                        <div class=" v-app-loading"></div>

                            <!-- Alternative fallback text -->
                        <noscript>You have to enable javascript in your browser to
                            use an application built with Vaadin.</noscript>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">//<![CDATA[
    if (!window.vaadin)
        alert("Failed to load the bootstrap JavaScript: VAADIN/vaadinBootstrap.js");

    /* The UI Configuration */
    vaadin.initApplication("fb", {
        "browserDetailsUrl": "GlycanBuilder/",
        "serviceUrl": "GlycanBuilder/",
        "widgetset": "ac.uk.icl.dell.vaadin.glycanbuilder.widgetset.GlycanbuilderWidgetset",
        "theme": "ucdb_2011theme",
        "versionInfo": {"vaadinVersion": "7.0.0"},
        "vaadinDir": "/GlycanBuilder/VAADIN/",
        "heartbeatInterval": 300,
        "debug": false,
        "standalone": false,
        "authErrMsg": {
            "message": "Take note of any unsaved data, "+
            "and <u>click here<\/u> to continue.",
            "caption": "Authentication problem"
        },
        "comErrMsg": {
            "message": "Take note of any unsaved data, "+
            "and <u>click here<\/u> to continue.",
            "caption": "Communication problem"
        },
        "sessExpMsg": {
            "message": "Take note of any unsaved data, "+
            "and <u>click here<\/u> to continue.",
            "caption": "Session Expired"
        }
    });//]]>
    </script>
    @* <script type="text/javascript">
    var callBack=[];
    callBack.run=function(response){alert(response);}
    </script> *@
    <script type="text/javascript">
            var callBack=[];
            callBack.run=function(response){
                document.write(response);
                var r = response;
                //document.write(r);
                //document.form.frm1.Search = 'test this';
                //document.form.frm1.submit();
                //document.forms["frm2"].submit();
                var url = "../saySearch/s?";
                var x = url + encodeURI(r);
                //var s = [ url, "" , r].join("");
                //document.write(x);
                window.location = x ;
            }
    </script>

    <div class="section">
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <form id="frm1" name="frm1" action="ms" method="POST" class="form-search">
                        <input type="button" name="Search" value="Search" onclick='exportCanvas("glycoct_condensed","callBack");'/>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h3 class="">Find Structures</h3>
                    <p class="builder">
                Build your glycan or epitope and search the UniCarbKB structure database. This new design is built using new technologies and discussed by the developer David Damerell.</p>
                </div>

                <div class="col-md-6">
                    <h3 class="">Publication</h3>
                    <p class="builder">
                    The GlycanBuilder: a fast, intuitive and flexible software tool for building and displaying glycan structures, Alessio Ceroni, Anne Dell, and Stuart M Haslam, Source Code Biol Med. 2007. <a href="http://www.ncbi.nlm.nih.gov/pubmed/17683623">
                    PubMed</a></p>
                    <p class="builder">
                    The GlycanBuilder and GlycoWorkbench glycoinformatics tools: updates and new developments, Damerell D, Ceroni A, Maass K <i>
                    et al</i>, Biol Chem. 2012. <a href="http://www.ncbi.nlm.nih.gov/pubmed/23109548">PubMed</a></p>
                </div>
            </div>
        </div>
    </div>

}
