@( min: String, max: String, expType: String )

<div class="info-grey">
    <h3>N-glycan</h3>
    <form class="form-inline" action="/searchGuMotif/@expType">
        <input type="hidden" value="@min" name="minValue" />
        <input type="hidden" value="@max" name="maxValue" />
        <div class="checkbox filterStructureLabel">
            <label class="filterStructureLabel">
                <input type="hidden" name="core" value="0" />
                <input type="checkbox" name="core" value="1" > Core Fucose
            </label>
        </div>
        <div class="checkbox filterStructureLabel">
            <label class="filterStructureLabel">
                <input type="hidden" name="bisect" value="0" />
                <input type="checkbox" name="bisect" value="1" > Bisect
            </label>
        </div>
        <div class="checkbox filterStructureLabel">
            <label class="filterStructureLabel">
                <input type="hidden" name="hybrid" value="0" />
                <input type="checkbox" name="hybrid" value="1" > Hybrid
            </label>
        </div>
        <div class="checkbox filterStructureLabel">
            <label class="filterStructureLabel">
                <input type="hidden" name="mannose" value="0" />
                <input type="checkbox" name="mannose" value="1" > High Man
            </label>
        </div>
        <div class="checkbox filterStructureLabel">
            <label class="filterStructureLabel">
                <input type="hidden" name="outer" value="0" />
                <input type="checkbox" name="outer" value="1"> Outer Fucose

            </label>
        </div>

        <div class="filterStructureLabel"><button type="submit" class="btn-sm btn-eblue">Search</button></div>
    </form>
</div>