<div class="info-grey">
    <h3>Filter by</h3>
    <form class="form-inline">
        <div class="checkbox filterStructureLabel">
            <label class="filterStructureLabel">
                <input type="checkbox" name="core" value="1"> Core Fucose
            </label>
        </div>
        <div class="checkbox filterStructureLabel">
            <label class="filterStructureLabel">
                <input type="checkbox" name="bisect" value="1"> Bisect
            </label>
        </div>
        <div class="checkbox filterStructureLabel">
            <label class="filterStructureLabel">
                <input type="checkbox" name="hybrid" value="1"> Hybrid
            </label>
        </div>
        <div class="checkbox filterStructureLabel">
            <label class="filterStructureLabel">
                <input type="checkbox" name="mannose" value="1"> High Man
            </label>
        </div>
        <div class="checkbox filterStructureLabel">
            <label class="filterStructureLabel">
                <input type="checkbox" name="outer" value="1"> Outer Fucose
            </label>
        </div>
        <button type="submit" class="btn-sm btn-eblue">Go</button>
   </form>
</div>