@()

<div class="checkbox filterStructureLabel">
    <label class="filterStructureLabel">
        <input type="hidden" name="core1" value="0" />
        <input type="checkbox" name="core1" value="1" > Core 1
    </label>
</div>
<div class="checkbox filterStructureLabel">
    <label class="filterStructureLabel">
        <input type="hidden" name="core2" value="0" />
        <input type="checkbox" name="core2" value="1" > Core 2
    </label>
</div>
<div class="checkbox filterStructureLabel">
    <label class="filterStructureLabel">
        <input type="hidden" name="bloodgrouph" value="0" />
        <input type="checkbox" name="bloodgrouph" value="1"> Blood Group H
    </label>
</div>
<div class="checkbox filterStructureLabel">
    <label class="filterStructureLabel">
        <input type="hidden" name="linearbloodgroupb" value="0" />
        <input type="checkbox" name="linearbloodgroupb" value="1"> Linear Blood Group B
    </label>
</div>
<div class="checkbox filterStructureLabel">
    <label class="filterStructureLabel">
        <input type="hidden" name="bloodgroupi" value="0" />
        <input type="checkbox" name="bloodgroupi" value="1" > Blood Group i
    </label>
</div>
<div class="checkbox filterStructureLabel">
    <label class="filterStructureLabel">
        <input type="hidden" name="bloodgrouplewisa" value="0" />
        <input type="checkbox" name="bloodgrouplewisa" value="1"> Blood Group Lewis A
    </label>
</div>
<div class="checkbox filterStructureLabel">
    <label class="filterStructureLabel">
        <input type="hidden" name="bloodgrouplewisx" value="0" />
        <input type="checkbox" name="bloodgrouplewisx" value="1" > Blood Group Lewis X
    </label>
</div>
<div class="checkbox filterStructureLabel">
    <label class="filterStructureLabel">
        <input type="hidden" name="bloodgroupslewisx" value="0" />
        <input type="checkbox" name="bloodgroupslewisx" value="1"> Blood Group sLe X
    </label>
</div>
