@import sparql._

@(count: Int, profile: String, x: List[SparqlEntity])


@main {
    @*<div class="hero">
        <div class="wrap">
            <div class="text">
                <strong>Profile Selection</strong>
            </div>
            <div class="minitext">@profile</div>
        </div>
    </div>*@
    <div class="section">
        <div class="container" >
            <div class="row">
                <div class="col-md-12">

                    <div class="page-header">
                        <div class="pull-left">
                            <h1 class="info-header-grey text-primary">Profile Selection</h1>
                            <div class="minitext">@count glycan structures</div>
                        </div>
                        <div class="pull-right">
                            <div class="text-right brand"></div>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                @if(count > 0) {
                    <table class="table table-striped">
                        <thead><tr>
                            <th>Glycan</th>
                            <th>Name</th>
                            <th>Evidence Type</th>
                            <th>Gu</th>
                            <th>Peak Area</th>
                        </tr></thead>
                        <tbody>
                        @for(entry <- x) {
                            <tr>@if(session.get("notation")) {
                                <td><img src="@routes.Assets.versioned("images/sm-" + session.get("notation") + "/sm-" + session.get("notation") + "-" + entry.getValue("GlycoBaseId") + ".png")"><br/>
                            } else {
                                <td><img src="@routes.Assets.versioned("images/sm-cfg-uoxf/sm-cfg-uoxf-" + entry.getValue("GlycoBaseId") + ".png")">
                                    }
                            <td><a href=@routes.Application.showGlycan(entry.getValue("GlycoBaseId"))>@entry.getData.get("Uoxf")</a></td>
                            <td>@entry.getValue("EvidenceType").split("_")(1)</td>
                            <td>@entry.getData.get("Gu")</td>
                            <td>@entry.getData.get("PeakArea")</td>

                            </tr>
                        }
                        </tbody>

                    </table>
                } else {
                    <h1>Profile @profile doesn't exist</h1>
                }
                </div>
                <div class="col-md-3">
                @views.html.format.format()
                </div>
            </div>
        </div>
    </div>

}
