@(results: List[String])
@main{

    <div class="section">
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <div class="pull-left">
                            <h1 class="info-header-grey text-primary">GlyS3 - Structure Search </h1>
                            <div class="minitext">
                                Alocci D et al., <a href ="https://www.ncbi.nlm.nih.gov/pubmed/26656740">
                                Property Graph vs RDF Triple Store: A Comparison on Glycan Substructure Search</a>
                                . PLoS One 2015 </div>

                        </div>
                        <div class="pull-right">
                            <div class="text-right brand"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <table class="table table-striped">
                        <thead><tr>
                            <th>Glycan Structure</th>
                            <th>Database Id</th>
                        </tr></thead>

                        <tbody>

                        @for(r <- results) {
                            <tr>
                                <td>
                                @if(session.get("notation")) {
                                    <a href=@routes.Application.showGlycan( r.split("\\/")(4) )><img src="@routes.Assets.versioned("images/sm-" + session.get("notation") + "/sm-" + session.get("notation") + "-" + r.split("\\/")(4) + ".png")" alt=""/></a>
                                } else {
                                    <a href=@routes.Application.showGlycan( r.split("\\/")(4) )><img src="@routes.Assets.versioned("images/sm-cfg-uoxf/sm-cfg-uoxf-" + r.split("\\/")(4) + ".png")" alt=""/></a>
                                }
                                </td>
                                <td>@r.split("\\/")(4)</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>

                <div class="col-md-3 sidebar">
                    @views.html.format.format()
                </div>

            </div>
        </div>
    </div>
}