@import sparql._

@(count: Int, paperTitle: String, x: List[SparqlEntity], paper: List[SparqlEntity], source: List[SparqlEntity])


    @main {
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.tablesorter.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.tablesorter.widgets.js")"></script>
        <script type="text/javascript">

                $(document).ready(function()
                        {
                            console.log("Trying to do sort");
                            $("#resulttable").tablesorter();
                        }
                );

        </script>
        @*<div class="hero">
        <div class="wrap">
        <div class="text">
        <strong>Reference</strong>
        </div>
        <div class="minitext">@paper.get(0).getValue("Author") - @paper.get(0).getValue("Journal"), @paper.get(0).getValue("Volume"), @paper.get(0).getValue("PublishYear") </div>
        </div>
        </div>*@
        <div class="section">
            <div class="container" >
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <div class="pull-left">
                                <h1 class="info-header-grey text-primary">@paperTitle</h1>
                                <div class="minitext">
                                    @paper.get(0).getValue("Author")
                                    - @paper.get(0).getValue("Journal"), @paper.get(0).getValue("Volume"), @paper.get(0).getValue("PublishYear")
                                </div>
                        </div>
                        <div class="pull-right">
                            <div class="text-right brand"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <table id="resulttable" class="table table-striped tablesorter">
                        <thead><tr>
                            <th>Structure</th>
                            <th>Name</th>
                            <th>Label</th>
                            <th>Average GU &nbsp;<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
                        </tr></thead>
                        <tbody>
                        @for(entry <- x) {
                            <tr>
                                @if(session.get("notation")) {
                                    <td><a href=@routes.Application.showGlycan(entry.getValue("GlycoBaseId"))><img src="@routes.Assets.versioned("images/sm-" + session.get("notation") + "/sm-" + session.get("notation") + "-" + entry.getValue("GlycoBaseId") + ".png")"></a><br/>
                                } else {
                                    <td><a href=@routes.Application.showGlycan(entry.getValue("GlycoBaseId"))><img src="@routes.Assets.versioned("images/sm-cfg-uoxf/sm-cfg-uoxf" + entry.getValue("GlycoBaseId") + ".png")"></a>
                                }
                            <td><a href=@routes.Application.showGlycan(entry.getValue("GlycoBaseId"))>@entry.getData.get("Uoxf")</a></td>
                            <td>@entry.getValue("LabelType")</td>
                            <td>@BigDecimal(entry.getValue("avgGu").toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>


                            </tr>

                        }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3 sidebar">
                    @views.html.format.format()
                    <h3 class="fh-desc" >Information</h3>

                    @for(s <- source) {
                        @if(s.getValue("ReportName") != null) {
                            <a href="/searchReport/@s.getValue("ReportName")"><span class="badge">
                                Report: @s.getValue("ReportName")</span></a>
                        }
                        @if(s.getValue("SampleName") != null) {
                            <a href="/searchSample/@s.getValue("SampleName")"><span class="badge">
                                Sample: @s.getValue("SampleName")</span></a>
                        }
                        @if(s.getValue("Taxon") != null) {
                            <a href="/searchTaxon/@s.getValue("Taxon")"><span class="badge">
                                Taxon: @s.getValue("Taxon")</span></a>
                        }
                        @if(s.getValue("Tissue") != null) {
                            <a href="/searchTissue/@s.getValue("Tissue")"><span class="badge">
                                Tissue: @s.getValue("Tissue")</span></a>
                        }
                    }
                </div>
            </div>
        </div>
        </div>
    }