@main{

    @*<div class="hero">
        <div class="wrap">
            <div class="text">
                <strong>Structure Search - Text Input</strong>
            </div>
        </div>
    </div>*@

    @*<div class="section">
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1 class="info-header-grey text-primary">Structure Search - Text Input</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>*@



} <div class="section">
    <div class="container" >
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <div class="pull-left">
                        <h1 class="info-header-grey text-primary">Structure Search - Text Input</h1>
                    </div>
                    <div class="pull-right">
                        <div class="text-right brand"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>The GlycoCT format is a common format for encoding carbohydrate sequences that is based on a connection table approach with a controlled vocabulary to name monosaccharides, adopting IUPAC rules to generate a consistent, machine-readable nomenclature.
                    The condensed format allows for unique identification of glycan structures in a compact manner.</p>
                <p>A number of databases and tools support the export of glycan structures into GlycoCT including GlycoWorkBench and the embedded <a href="/builder">GlycanBuilder</a>.
                    Simply, build your structure then 'File'-->'Export'-->'GlycoCT Condensed'</p>

                <form class="form-vertical" action ="@(routes.StructureSearch.searchGlycoct())">
                    <fieldset>

                            <!-- Form Name -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row-fluid">
                                    <p>Search glycan structures that fully or partially match a defined GlycoCT entry:</p>
                                    <div class="controls">
                                        <textarea id="textinput" name="glycoct" type="text" placeholder="Paste Sequence" class="input-large span6"  cols="20" rows="10" ></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Search Database</button>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>
