@import sparql._

@(count: Int, glycobaseid: String, uoxf: String)


@main {
    @*<div class="hero">
        <div class="wrap">
            <div class="text">
                <strong>Structure Name</strong>
            </div>
            <div class="minitext">@uoxf</div>
        </div>
    </div>*@
    <div class="section">
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <div class="pull-left">
                            <h1 class="info-header-grey text-primary">Structure Name - @uoxf</h1>
                        </div>
                        <div class="pull-right">
                            <div class="text-right brand"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                @if(count > 0) {

                    <table class="table table-striped">
                        <thead><tr>
                            <th>Glycan</th>
                            <th>Name</th>
                            <th>Mono Mass</th>
                            <th>HPLC</th>
                            <th>UPLC (2-AB)</th>
                            <th>UPLC (Proc)</th>
                            <th>RPUPLC</th>
                            <th>CE</th>
                        </tr></thead>
                        <tbody>
                            <tr>
                                @if(session.get("notation")) {
                                    <td><img src="@routes.Assets.versioned("images/sm-" + session.get("notation") + "/sm-" + session.get("notation") + "-" + glycobaseid + ".png")"><br/>
                                } else {
                                    <td><img src="@routes.Assets.versioned("images/sm-cfg-uoxf/sm-cfg-uoxf-" + glycobaseid + ".png")">
                                    }
                            </td>
                                <td><a href=@routes.Application.showGlycan(glycobaseid)>@uoxf</a></td>
                                @if(controllers.Application.monoMass(glycobaseid)) {
                                    <td>@BigDecimal(controllers.Application.monoMass(glycobaseid)).setScale(4, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                } else {
                                    <td></td>
                                }
                                @if(controllers.Application.avgHp(glycobaseid)) {
                                    <td>@BigDecimal(controllers.Application.avgHp(glycobaseid)).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                } else {
                                    <td></td>
                                }
                                @if(controllers.Application.avg2ABUp(glycobaseid)) {
                                    <td>@BigDecimal(controllers.Application.avg2ABUp(glycobaseid)).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                } else {
                                    <td></td>
                                }
                                @if(controllers.Application.avgProcUp(glycobaseid)) {
                                    <td>@BigDecimal(controllers.Application.avgProcUp(glycobaseid)).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                } else {
                                    <td></td>
                                }
                                @if(controllers.Application.avgRp(glycobaseid)) {
                                    <td>@BigDecimal(controllers.Application.avgRp(glycobaseid)).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                } else {
                                    <td></td>
                                }
                                @if(controllers.Application.avgCe(glycobaseid)) {
                                    <td>@BigDecimal(controllers.Application.avgCe(glycobaseid)).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                } else {
                                    <td></td>
                                }
                            </tr>
                        </tbody>
                    </table>
                } else {
                    <h1>@uoxf is not found in GlycoBase</h1>
                }
                </div>
                <div class="col-md-3">
                @views.html.format.format()
                </div>
            </div>
        </div>
    </div>
}