@import sparql._

@(count: Int, min: String, max: String, expType: String, x: List[SparqlEntity], core: Int, bisect: Int, outer: Int, hybrid: Int, mannose: Int )


@main {

    <div class="section">
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <div class="pull-left">
                            <h1 class="info-header-grey text-primary">Retention Results</h1>
                            <div class="minitext">
                            @if(expType == "rpuplc"){
                                <h4 class="text-primary">@count glycan structures found in @expType.toUpperCase() data within AU range @min to @max</h4><br />
                            }else{
                                <h4 class="text-primary">@count glycan structures found in @expType.toUpperCase() data within GU range @min to @max
                                    @if(core ==1 || bisect == 1 || core == 1 || outer == 1 || hybrid == 1 || mannose == 1 ) {
                                        with @if(core == 1) {
                                            Core Fucose} @if(bisect == 1) { Bisect } @if(outer == 1) { Outer Arm Fucose } @if(hybrid == 1) { Hybrid } @if(mannose == 1) { Mannose }
                                }
                                </h4><br />

                            }
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="text-right brand"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                @if(count>0){
                    <table id="motifs" class="table table-striped tablesorter">
                        <thead><tr>
                            <th>Glycan</th>
                            <th>Name</th>
                            <th><font size="2">Mono Mass</font></th>
                            @if(expType == "rpuplc"){
                                <th>Au</th>
                            }else{<th>Gu</th>}
                        </tr></thead>

                        <tbody>
                        @for(entry <-x ){
                            <tr>@if(expType == "pgc"){
                                <td>@if( entry.getValue("GlycoBaseId").toInt < 100000 ) {
                                    <img src=@{routes.Image.showImageReaction(entry.getValue("GlycoBaseId"), session.get("notation"), "normal")} alt=""/><br/>
                                } else {
                                    <img src=@{routes.Image.showImagePgc(entry.getValue("GlycoStoreId"), session.get("notation"), "normal")} alt=""/><br/>
                                }
                                </td>
                                <td><a href=@routes.Application.showGlycan(entry.getValue("GlycoBaseId"))>@entry.getData.get("Uoxf")</a></td>
                                @if(controllers.Application.monoMass(entry.getValue("GlycoBaseId")) == "null") {
                                    <td></td>
                                } else {
                                    <td>@BigDecimal(controllers.Application.monoMass(entry.getValue("GlycoBaseId"))).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                }
                                <td>@BigDecimal(controllers.Application.avgPgc(entry.getValue("GlycoBaseId"))).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                            }

                                @if(session.get("notation")){
                                    <td><img src="@routes.Assets.versioned("images/sm-"+session.get("notation")+"/sm-"+session.get("notation")+"-" +entry.getValue("GlycoBaseId")+".png")"><br/>
                                } else{<td><img src="@routes.Assets.versioned("images/sm-cfg-uoxf/sm-cfg-uoxf-" +entry.getValue("GlycoBaseId")+".png")">}
                            <td><a href=@routes.Application.showGlycan(entry.getValue("GlycoBaseId"))>@entry.getData.get("Uoxf")</a></td>

                                @if(controllers.Application.monoMass(entry.getValue("GlycoBaseId")) == "null" || controllers.Application.monoMass(entry.getValue("GlycoBaseId")) == null) {                                    <td></td>
                                } else {
                                    <td>@BigDecimal(controllers.Application.monoMass(entry.getValue("GlycoBaseId"))).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                }

                            <td>@BigDecimal(entry.getValue("avgGu")).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                @*if(expType == "hplc"){
                                    <td>@BigDecimal(controllers.Application.avgHp(entry.getValue("GlycoBaseId"))).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                }@if(expType == "uplc_2-ab"){
                                    <td>@BigDecimal(controllers.Application.avg2ABUp(entry.getValue("GlycoBaseId"))).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                }@if(expType == "uplc_procainamide"){
                                    <td>@BigDecimal(controllers.Application.avgProcUp(entry.getValue("GlycoBaseId"))).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                }@if(expType == "rpuplc"){
                                    <td>@BigDecimal(controllers.Application.avgRp(entry.getValue("GlycoBaseId"))).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                }@if(expType == "ce"){
                                    <td>@BigDecimal(controllers.Application.avgCe(entry.getValue("GlycoBaseId"))).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                }*@

                            </tr>
                        }
                        </tbody>
                    </table>
                }
                </div>
                <div class="col-md-3">
                    @views.html.format.format()
                    <hr/>
                    @views.html.search.filterUoxfGuRange(min, max, expType)
                    <hr/>
                    @views.html.search.olinkMotifs(min, max, expType)

                </div>
            </div>
        </div>
    </div>

}