@import sparql._

@(count: Int, reportName: String, result: Map[String, String], reportList:List[String])


@main {
    @*<div class="hero">
        <div class="wrap">
            <div class="text">
                <strong>Report</strong>
            </div>
            <div class="minitext">@reportName</div>
        </div>
    </div>*@

    <div class="section">
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <div class="pull-left">
                            <h1 class="info-header-grey text-primary">Report - @reportName</h1>
                            <div class="minitext">@count glycan structures</div>
                        </div>
                        <div class="pull-right">
                            <div class="text-right brand"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                @if(count > 0) {
                    <table class="table table-striped">
                        <thead><tr>
                            <th>Glycan</th>
                            <th>Name</th>
                            <th>Mono Mass</th>
                            <th>UPLC (2-AB)</th>
                            <th>UPLC (Proc)</th>
                            @if(reportName.contains("GSL")){
                                <th>Alternative Name</th>
                                <th>Code</th>
                                <th>Series</th>
                                <th>Category</th>
                            }else{
                                <th>HPLC</th>
                                <th>RPUPLC</th>
                                <th>CE</th>
                            }

                        </tr></thead>
                        <tbody>
                        @for((key, value) <- result) {
                            <tr>
                                @if(session.get("notation")) {
                                    <td><img src="@routes.Assets.versioned("images/sm-" + session.get("notation") + "/sm-" + session.get("notation") + "-" + key + ".png")"><br/>
                                } else {
                                    <td><img src="@routes.Assets.versioned("images/sm-cfg-uoxf/sm-cfg-uoxf-" + key + ".png")">
                                    }
                            </td>
                            <td><a href=@routes.Application.showGlycan(key)>@value.split("\t")(1)</a></td>
                                @if(value.split("\t")(5) == "null") {
                                    <td></td>
                                } else {
                                    <td>@BigDecimal(value.split("\t")(5).toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                }
                                @if(value.split("\t")(4) == "null") {
                                    <td></td>
                                } else {
                                    <td>@BigDecimal(value.split("\t")(4).toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                }
                                @if(value.split("\t")(6) == "null") {
                                    <td></td>
                                } else {
                                    <td>@BigDecimal(value.split("\t")(6).toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                }
                                @if(reportName.contains("GSL")){
                                    @*not sure why 'key' it's not updating *@
                                    @*<td>@controllers.Application.gslExtraInfo(key).getValue("alternativeName")</td>
                                    <td>@controllers.Application.gslExtraInfo(key).getValue("gslCode")</td>
                                    <td>@controllers.Application.gslExtraInfo(key).getValue("series")</td>
                                    <td>@controllers.Application.gslExtraInfo(key).getValue("category")</td>
                                    *@
                                }else{
                                    @if(value.split("\t")(2) == "null") {
                                        <td></td>
                                    } else {
                                        <td>@BigDecimal(value.split("\t")(2).toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                    }
                                    @if(value.split("\t")(3) == "null") {
                                        <td></td>
                                    } else {
                                        <td>@BigDecimal(value.split("\t")(3).toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                    }
                                    @if(value.split("\t")(0) == "null") {
                                        <td></td>
                                    } else {
                                        <td>@BigDecimal(value.split("\t")(0).toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                    }
                                }
                            </tr>
                        }
                        </tbody>

                    </table>
                }
                </div>
                <div class="col-md-3">
                    @if(reportName.contains("Ludger")){
                        @views.html.ludger.ludgerMaterial()
                    }
                    @views.html.format.format()
                    @views.html.search.filterUoxfName()
                    @views.html.general.allreports(reportList)
                </div>
            </div>
        </div>
    </div>
}