@import sparql._

@(count: Int, min: String, max: String, expType: String, result: Map[String,List[String]], core: Int, bisect: Int, outer: Int, hybrid: Int, mannose: Int, olinkResult: String)

@main {


    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.tablesorter.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.tablesorter.widgets.js")"></script>
    <script type="text/javascript">

            $(document).ready(function()
                    {
                        console.log("Trying to do sort");
                        $("#resulttable").tablesorter();
                    }
            );

    </script>


    <div class="section">
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <div class="pull-left">
                            <h1 class="info-header-grey text-primary">Retention Results</h1>
                            <div class="minitext">
                                @if(expType == "rpuplc"){
                                    <h4 class="text-primary">@count glycan structures found in @expType.toUpperCase() data within AU range @min to @max</h4><br />
                                }else if(expType == "pgc"){
                                <h4 class="text-primary">@count glycan structures found in @expType.toUpperCase() data within retention time @min to @max</h4><br />
                                }else{
                                    <h4 class="text-primary">@count glycan structures found in @expType.toUpperCase() data within GU range @min to @max
                                    @if(core ==1 || bisect == 1 || core == 1 || outer == 1 || hybrid == 1 || mannose == 1 ) {
                                        with @if(core == 1) {
                                            Core Fucose} @if(bisect == 1) { Bisect } @if(outer == 1) { Outer Arm Fucose } @if(hybrid == 1) { Hybrid } @if(mannose == 1) { Mannose }
                                    }
                                    </h4><br />

                                }
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="text-right brand"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                @if(count>0){
                    <table id="resulttable" class="table table-striped tablesorter">
                        <thead><tr>
                            <th>Glycan</th>
                            <th>Name</th>
                            <th><font size="2">Mono Mass&nbsp;<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></font></th>
                            @if(expType == "rpuplc"){
                                <th>Au&nbsp;<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
                            }else if(expType == "pgc"){
                                <th>RT&nbsp;<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
                            }else{<th>Gu&nbsp;<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>}
                        </tr></thead>

                        <tbody>
                        @for((key,value) <-result){
                            <tr>@if(expType == "pgc"){
                                <td>@if( key.toInt < 100000 ) {
                                    <img src=@{routes.Image.showImageReaction(key, session.get("notation"), "normal")} alt=""/><br/>
                                } else {
                                    <img src=@{routes.Image.showImagePgc(key, session.get("notation"), "normal")} alt=""/><br/>
                                }
                                </td>

                               @*<td><a href=@routes.Application.showPgcGlycan(key)>@value.get(0)</a></td>**@
                            }else{
                                @if(session.get("notation")){
                                    <td><img src="@routes.Assets.versioned("images/sm-"+session.get("notation")+"/sm-"+session.get("notation")+"-" +key+".png")"><br/>
                                } else{<td><img src="@routes.Assets.versioned("images/sm-cfg-uoxf/sm-cfg-uoxf-" +key+".png")">}
                            }


                            <td><a href=@routes.Application.showGlycan(key)>@value.get(0)</a></td>

                                @if(controllers.Application.monoMass(key) == "null" || controllers.Application.monoMass(key) == null) {                                    <td></td>
                                } else {
                                    <td>@BigDecimal(controllers.Application.monoMass(key)).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                }

                                @if( value.get(2) == "NaN" || value.get(2)== "0.0e0" )   {
                                    <td>@BigDecimal(value.get(1)).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                }else{
                                    <td>@BigDecimal(value.get(1)).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble  &plusmn @BigDecimal(value.get(2)).setScale(3,BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                }

                            </tr>
                        }
                        </tbody>
                    </table>
                }
                </div>
                <div class="col-md-3">
                    @views.html.format.format()
                    @views.html.search.filterUoxfGuRange(min, max, expType)

                    @* need a way to load n- or o- forms based on results displayed here *@
                    @if(olinkResult != null){
                        @if(olinkResult.matches("yes")) { @views.html.search.olinkMotifs(min, max, expType)}
                    }




                </div>
            </div>
        </div>
    </div>

}