@import sparql._

@(result: List[SparqlEntity], proteinName: String)


@main {

    <div class="hero">
        <div class="wrap">
            <div class="text">
                <strong>Glycoprotein Selection</strong>
            </div>
            <div class="minitext">@proteinName</div>
        </div>
    </div>
    <div class="section">
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header text-primary">
                        <h1 class="info-header-grey">Glycan structures</h1> <br />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <p>Summary of average retention times for structures released and characterised from @proteinName using the denoted technology</p>
                    <table class="table table-striped">
                        <thead><tr>
                            <th>Glycan</th>
                            <th>Name</th>
                            <th>HPLC</th>
                            <th>UPLC</th>
                            <th>RPUPLC</th>
                            <th>CE</th>
                            <th>PGC</th>
                        </tr></thead>
                        <tbody>
                        @for(r <- result) {
                            <tr>
                                <td>@if( r.getValue("GlycoBaseId").toInt < 100000 ) {
                                        <img src=@{routes.Image.showImageReaction(r.getValue("GlycoBaseId"), session.get("notation"), "normal")} alt=""/><br/>
                                    } else {
                                        <img src=@{routes.Image.showImagePgc(r.getValue("GlycoStoreId"), session.get("notation"), "normal")} alt=""/><br/>
                                    }
                                </td>
                                <td>@r.getValue("Uoxf")</td>
                                <td>@if(r.getValue("avgHp") != null) {
                                @if(r.getValue("avgHp").toDouble == 0.0) {
                                    } else {
                                    @BigDecimal(r.getValue("avgHp").toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble
                                    }
                                }</td>
                                <td>@if(r.getValue("avgUp") != null) {
                                    @if(r.getValue("avgUp").toDouble == 0.0) {
                                    } else {@BigDecimal(r.getValue("avgUp").toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble
                                    }
                                }</td>
                                <td>@if(r.getValue("avgRp") != null) {
                                    @if(r.getValue("avgRp").toDouble == 0.0) {
                                    } else {@BigDecimal(r.getValue("avgRp").toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble
                                    }
                                }</td>
                                <td>@if(r.getValue("avgCe") != null) {
                                    @if(r.getValue("avgCe").toDouble == 0.0) {
                                    } else {
                                        @BigDecimal(r.getValue("avgCe").toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble
                                    }
                                }</td>
                                <td>@if(r.getValue("avgPgc") != null) {
                                    @if(r.getValue("avgPgc").toDouble == 0.0) {
                                    } else {
                                        @BigDecimal(r.getValue("avgPgc").toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble
                                    }
                                }</td>
                            </tr>
                        }
                        </tbody>
                    </table>

                </div>
                <div class="col-md-3">
                    @views.html.format.format()
                    @views.html.general.separation()

                </div>
            </div>
        </div>
    </div>
}