@import sparql._

@(count: Int, glycobaseId: String, uoxf: String)


@main {

    <div class="section">
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header text-primary">
                        <h1 class="info-header-grey">@count glycan structures found for GlycoBase id: @glycobaseId</h1><br />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                @if(count > 0) {
                    <table class="table table-striped">
                        <thead><tr>
                            <th>Glycan</th>
                            <th>HPLC</th>
                            <th>UPLC</th>
                            <th>RPUPLC</th>
                            <th>CE</th>
                        </tr></thead>
                        <tbody>
                            <tr>
                                @if(session.get("notation")) {
                                    <td><img src="@routes.Assets.versioned("images/sm-" + session.get("notation") + "/sm-" + session.get("notation") + "-" + glycobaseId + ".png")"><br/>
                                } else {
                                    <td><img src="@routes.Assets.versioned("images/sm-cfg-uoxf/sm-cfg-uoxf-" + glycobaseId + ".png")">
                                        }
                                <a href=@routes.Application.showGlycan(glycobaseId)>@uoxf</a></td>
                                @if(controllers.Application.avgHp(glycobaseId)) {
                                    <td>@BigDecimal(controllers.Application.avgHp(glycobaseId)).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                } else {
                                    <td></td>
                                }
                                @if(controllers.Application.avg2ABUp(glycobaseId)) {
                                    <td>@BigDecimal(controllers.Application.avg2ABUp(glycobaseId)).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                } else {
                                    <td></td>
                                }
                                @if(controllers.Application.avgRp(glycobaseId)) {
                                    <td>@BigDecimal(controllers.Application.avgRp(glycobaseId)).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                } else {
                                    <td></td>
                                }
                                @if(controllers.Application.avgCe(glycobaseId)) {
                                    <td>@BigDecimal(controllers.Application.avgCe(glycobaseId)).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                } else {
                                    <td></td>
                                }
                            </tr>
                        </tbody>
                    </table>
                } else {
                    <h1 >No structures found for GlycoBase id: @glycobaseId</h1>
                }
                </div>
                <div class="col-md-3">
                @views.html.format.format()
                </div>
            </div>
        </div>
}