@main {

    <div class="section">
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <div class="pull-left">
                            <h1 class="info-header-grey text-primary">GlyS3 - Structure Search </h1>
                            <div class="minitext">
                                Alocci D et al., <a href ="https://www.ncbi.nlm.nih.gov/pubmed/26656740">
                                Property Graph vs RDF Triple Store: A Comparison on Glycan Substructure Search</a>
                                . PLoS One 2015 </div>

                        </div>
                        <div class="pull-right">
                            <div class="text-right brand"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>GlyS3 matches any substructure such as glycan determinants to  structures recorded in GlycoStore.
                        The search is performed using RDF technology specifically designed for querying and storing glycan structures, and was developed in partnership with the Swiss Institute for Bioinformaatics.</p>

                    <form class="form-vertical" method="GET" action ="@(routes.StructureSearch.SubstructureSPARQLQueryResult() )">
                        <fieldset>

                                <!-- Form Name -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row-fluid">
                                        <p>Search glycan structures that fully or partially match a defined GlycoCT entry:</p>
                                        <div class="controls">
                                            <textarea id="textinput" name="glycoct" type="text" placeholder="Paste Sequence" class="input-large span6" cols="20" rows="10" ></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Search Database</button>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>
}