@import sparql._

@( pgc: List[SparqlEntity], M5: Double )

@main {

    @*<div class="hero">
        <div class="wrap">
            <div class="text">
                <strong>PGC Retention Times</strong>
            </div>
        </div>
    </div>*@

    <div class="section">
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        @*<h1 class="info-header-grey text-primary">PGC Retention Times</h1>
                        <div class="minitext">Publication Under Review</div>*@

                        <div class="pull-left">
                            <h1 class="info-header-grey text-primary">PGC Retention Times</h1>
                            <div class="minitext">Abrahams JL et al., <a href="https://doi.org/10.1007/s10719-017-9793-4">Building a PGC-LC-MS N-glycan retention library and elution mapping resource</a>, Glycoconjugate J, 2017</div>
                        </div>
                        <div class="pull-right">
                            <div class="text-right brand"></div>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <table class="table table-striped">
                        <thead><tr>
                            <th>Glycan</th>
                            <th>Name</th>
                            <th>Time (mins)</th>
                            <th>Rel. to M5</th>
                        </tr></thead>

                        <tbody>

                            @for(entry <- pgc) {
                            <tr>
                                <td>@if(session.get("notation")){
                                    <img src='@routes.Image.showImagePgcObjectStore(entry.getValue("GlycoStoreId"), session.get("notation") )'><br/>
                                    @*<img src=@{routes.Image.showImagePgc(entry.getValue("GlycoStoreId"), session.get("notation"), "normal")} alt=""/><br/>*@

                                } else{
                                    <img src="@routes.Assets.versioned("images/sm-cfg-uoxf/sm-cfg-uoxf-" +entry.getValue("GlycoStoreId")+".png")">
                                }</td>
                                <td><a href="/showPgcGlycan/@entry.getValue("GlycoStoreId")">@entry.getData.get("Uoxf")</a></td>
                                <td>@BigDecimal(entry.getValue("avgPgc")).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                <td>@BigDecimal(M5-entry.getValue("avgPgc").toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                        }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3">
                    @views.html.format.format()

                    <h3 class="fh-desc" >Retention Time Viewer</h3>
                    <a href="/showPgcData"><span class='label label-ionmobblue'><span class='icon-adjust icon-white'></span> Graphical View</span></a>

                    <h3 class="fh-desc" >Glycoprotein Standards</h3>
                    <span class="badge">Human IgG</span>
                    <span class="badge">Human IgA</span>
                    <span class="badge">RNAseB</span>
                    <span class="badge">Ovalbumn</span>
                    <span class="badge">Alpha-1-Acid Glycoprotein</span>
                    <span class="badge">Lactoferrin</span>

                    <h3 class="fh-desc" >Information</h3>
                    <span class="badge">Column: Hypercarb PGC column</span>
                    <span class="badge ellipses">Gradient: 85 min gradient of 0–45% (v/v) acetonitrile in 10 mM ammonium bicarbonate</span>
                    <span class="badge">Flow Rate: 2 uL/min</span>
                    <span class="badge">Mass Spec: Agilent XCT Ultra</span>
                    <span class="badge">LC: Agilent 1260 series HPLC</span>

                    <h3 class="fh-desc">Notes</h3>
                    <p>The following MS settings were used: drying gas temperature: 300°C, drying gas flow: 6 L/min, nebulizer gas: 12 psi, skimmer, trap drive and capillary exit were set at ‐40 V, ‐99.1 V and ‐166 V, respectively</p>
                </div>
            </div>
        </div>
    </div>

}