@import sparql._

@( glycan: List[SparqlEntity], json:String, storeId: String, source: List[SparqlEntity], gps: List[String] )


@main {

    <script src="@routes.Assets.versioned("javascripts/st.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/d3.js")"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/st.css")">


    @*<div class="hero">
        <div class="wrap">
            <div class="text">
                <strong>Structure Information</strong>
            </div>
            <div class="minitext"></div>
        </div>
    </div>*@

    <div class="section">
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <div class="pull-left">
                            <h1 class="info-header-grey text-primary">Structure Information</h1>
                            <div class="minitext">Abrahams JL et al., <a href="https://doi.org/10.1007/s10719-017-9793-4">Building a PGC-LC-MS N-glycan retention library and elution mapping resource</a>, Glycoconjugate J, 2017</div>
                        </div>
                        <div class="pull-right">
                            <div class="text-right brand"></div>
                        </div>
                        <div class="clearfix"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <table class="table table-striped">
                        <thead><tr>
                            <th>Glycan</th>
                            <th>Name</th>
                            <th>Time (mins)</th>
                        </tr></thead>

                        <tbody>

                        @for(entry <- glycan) {
                            <tr>
                                <td>@if(session.get("notation")){

                                    <img src=@{routes.Image.showImagePgc(storeId, session.get("notation"), "normal")} alt=""/><br/>
                                } else{
                                    <img src="@routes.Assets.versioned("images/sm-cfg-uoxf/sm-cfg-uoxf-" + storeId +".png")">
                                    }</td>
                                <td><a href="/showPgcGlycan/@storeId">@entry.getData.get("Uoxf")</a></td>
                                <td>@BigDecimal(entry.getValue("PgcRT")).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>

                                }
                        </tbody>
                    </table>

                    @if(!json.isEmpty) {
                        <h4>Spectra</h4>
                        <div id="wrap">
                            <div id="stgraph" class="stgraph"></div>
                        </div>
                    }

                </div>

                <div class="col-md-3">
                    @views.html.format.format()

                    <h3 class="sidebar" >Retention Time Viewer</h3>
                    <a href="/showPgcData"><span class='label label-ionmobblue'><span class='icon-adjust icon-white'></span> Graphical View</span></a>

                    <h3 class="fh-desc" >Glycoprotein Standards</h3>
                    @for(gp <- source){
                        <span class="badge label-success">@gp.getValue("SampleName")</span>
                    }
                    @for(gp <- gps) {
                        <span class="badge">@gp</span>
                    }

                    <h3 class="fh-desc" >Information</h3>
                    <span class="badge">Column: Hypercarb PGC column</span>
                    <span class="badge ellipses">Gradient: 85 min gradient of 0–45% (v/v) acetonitrile in 10 mM ammonium bicarbonate</span>
                    <span class="badge">Flow Rate: 2 uL/min</span>
                    <span class="badge">Mass Spec: Agilent XCT Ultra</span>
                    <span class="badge">LC: Agilent 1260 series HPLC</span>

                    <h3 class="fh-desc">Notes</h3>
                    <p>The following MS settings were used: drying gas temperature: 300°C, drying gas flow: 6 L/min, nebulizer gas: 12 psi, skimmer, trap drive and capillary exit were set at ‐40 V, ‐99.1 V and ‐166 V, respectively</p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

            var obj = @Html(json)

            var chart = st.chart          // new chart
                    .ms()                 // of type MS
                    .xlabel("m/z")        // x-axis label
                    .ylabel("Intensity"); // y-axis label
            chart.render("#stgraph");     // render chart to id 'stgraph'

            var handle = st.data          // new handler
                    .set()                    // of type set
                    // y-domain limits
                    .x("peaks.mz")            // x-accessor
                    .y("peaks.intensity");    // y-accessor

            // bind the data handler to the chart
            chart.load(handle);
            // load the spectrum and annotations for Uridine
            //handle.add("/assets/spectra/out2.json");
            handle.add(obj);


    </script>

}