@import sparql._
@import org.json.simple.JSONArray
@(count: Int, reportName: String, result: Map[String, String], reportList:List[String], topRefList:List[String], comments:List[SparqlEntity])


@main {
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.tablesorter.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.tablesorter.widgets.js")"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                        $("#resulttable").tablesorter();
                    }
            );

    </script>

    <div class="section">
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1 class="info-header-grey text-primary">Report - @reportName</h1>
                        <h4 class="text-primary">@count glycan structures</h4> <br />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <table id="resulttable" class="table table-striped tablesorter">
                        <thead><tr>
                            <th>Glycan</th>
                            <th>Mono Mass</th>
                            <th>UPLC (2-AB)<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
                            <th>UPLC (Proc)<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
                            @if(reportName.contains("GSL")){
                                <th>Alternative Name</th>
                                <th>Code</th>
                                <th>Series</th>
                                <th>Category</th>
                            }else{
                                <th>HPLC <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
                                <th>RPUPLC <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
                                <th>CE <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
                            }

                        </tr></thead>
                        <tbody>
                        @for((key, value) <- result) {
                            <tr>
                                @if(session.get("notation")) {
                                    <td><img src="@routes.Assets.versioned("images/sm-" + session.get("notation") + "/sm-" + session.get("notation") + "-" + key + ".png")"><br/>
                                } else {
                                    <td><img src="@routes.Assets.versioned("images/sm-cfg-uoxf/sm-cfg-uoxf-" + key + ".png")">
                                        }
                                @if(reportName.contains("GSL") || reportName.contains("O-Glycans")){
                                    <pre><a href=@routes.Application.showGlycan(key)>Details</a></pre>
                                } else{
                                    <pre><a href=@routes.Application.showGlycan(key)>@value.split("\t")(2)</a></pre>
                                }
                            </td>
                                @if(reportName.contains("GSL")){
                                    @*<td><a href=@routes.Application.showGlycan(key)>@value.split("\t")(0)</a></td>*@
                                    @if(value.split("\t")(1) == "null") {
                                        <td></td>
                                    } else {
                                        <td>@BigDecimal(value.split("\t")(1).toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                    }
                                    @if(value.split("\t")(2) == "null") {
                                        <td></td>
                                    } else {
                                        <td>@BigDecimal(value.split("\t")(2).toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                    }
                                    @if( value.split("\t")(3) == "null" || value.split("\t")(3).contains("null") )   {
                                        <td></td>
                                    } else {
                                        <td>@BigDecimal(value.split("\t")(3).toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                    }
                                    @if( value.split("\t")(4) == "null" || value.split("\t")(4).contains("null") )   {
                                        <td></td>
                                    } else {
                                        <td>@value.split("\t")(4)</td>
                                    }
                                    @if( value.split("\t")(5) == "null" || value.split("\t")(5).contains("null") )   {
                                        <td></td>
                                    } else {
                                        <td>@value.split("\t")(5)</td>
                                    }
                                    @if( value.split("\t")(6) == "null" || value.split("\t")(6).contains("null") )   {
                                        <td></td>
                                    } else {
                                        <td>@value.split("\t")(6)</td>
                                    }
                                    @if( value.split("\t")(7) == "null" || value.split("\t")(7).contains("null") )   {
                                        <td></td>
                                    } else {
                                        <td>@value.split("\t")(7)</td>
                                    }
                                }else{
                                    @*<td><a href=@routes.Application.showGlycan(key)>@value.split("\t")(2)</a></td>*@
                                    @if( value.split("\t")(8) == "null" || value.split("\t")(8).contains("null") )   {
                                        <td></td>
                                    } else {
                                        <td>@BigDecimal(value.split("\t")(8).toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                    }
                                    @if( value.split("\t")(6) == "null" || value.split("\t")(6).contains("null") )   {
                                        <td></td>
                                    } else {
                                        @if(value.split("\t")(7) == "null"){<td>@BigDecimal(value.split("\t")(6).toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                        } else{
                                            <td>@BigDecimal(value.split("\t")(6).toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble  &plusmn @value.split("\t")(7)</td>}
                                    }
                                    @if( value.split("\t")(9) == "null" || value.split("\t")(9).contains("null") )   {
                                        <td></td>
                                    } else {
                                        @if(value.split("\t")(10) == "null"){<td>@BigDecimal(value.split("\t")(9).toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                        } else{
                                            <td>@BigDecimal(value.split("\t")(9).toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble  &plusmn @value.split("\t")(10)</td>}
                                    }
                                    @if( value.split("\t")(3) == "null" || value.split("\t")(3).contains("null") )   {
                                        <td></td>
                                    } else {
                                        @if(value.split("\t")(4) == "null"){<td>@BigDecimal(value.split("\t")(3).toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                        } else{
                                            <td>@BigDecimal(value.split("\t")(3).toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble &plusmn @value.split("\t")(4)</td>}
                                    }
                                    @if( value.split("\t")(5) == "null" || value.split("\t")(5).contains("null") )   {
                                        <td></td>
                                    } else {
                                        <td>@BigDecimal(value.split("\t")(5).toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                    }
                                    @if( value.split("\t")(0) == "null" || value.split("\t")(0).contains("null") )   {
                                        <td></td>
                                    } else {
                                        @if(value.split("\t")(1) == "null"){<td>@BigDecimal(value.split("\t")(0).toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                                        } else{
                                            <td>@BigDecimal(value.split("\t")(0).toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble &plusmn  @value.split("\t")(1)</td>}
                                    }

                                }
                            </tr>
                        }
                        </tbody>

                    </table>
                </div>
                <div class="col-md-3">

                    @views.html.format.format()
                    @views.html.search.filterUoxfNameFromOlinkedCollection(reportName)

                    @if(reportName.contains("Ludger") || reportName.contains("O-Glycans") || reportName.contains("Milk") ){
                        @views.html.search.olinkMotifCollection(reportName)
                    }

                    @views.html.general.topRefs(topRefList)
                    @views.html.general.comments(comments)
                    @if(reportName.contains("Ludger")){
                        @views.html.ludger.ludgerMaterial()
                    }
                    @views.html.general.allreports(reportList)
                </div>
            </div>
        </div>
    </div>
}