<div class="info-grey">
    <hr/>
    <h3>Database Links</h3>

    <a href=""><span class='label label-ionmobblue'><span class='icon-adjust icon-white'></span> UniCarbKB</span></a>
    <a href=""><span class='label label-ionmobblue'><span class='icon-font icon-white'></span> GlyTouCan</span></a>

</div>