@(nameUoxf: String, secondNameUoxf: String, min: String, max: String, massLow: String, massHigh: String)

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://d3js.org/d3.v3.js"></script>





@main{

    <style type="text/css">

    .axis path,.axis line {fill: none;stroke:#b6b6b6;shape-rendering: crispEdges;}
    /*.tick line{fill:none;stroke:none;}*/
    .tick text{fill:#999;}
    g.journal.active{cursor:pointer;}
    text.label{font-size:12px;font-weight:bold;cursor:pointer;}
    text.value{font-size:12px;font-weight:bold;}

    .tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    font-size: 12px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 80px;
    z-index: 10;
    }

    </style>

    <div class="hero">
        <div class="wrap">
            <div class="text">
                <strong>Retention Results @nameUoxf</strong>
            </div>
            <div class="minitext">Porous Graphitised Carbon (Abrahams JL et al., <a href="https://doi.org/10.1007/s10719-017-9793-4">Building a PGC-LC-MS N-glycan retention library and elution mapping resource</a>, Glycoconjugate J, 2017)</div>
        </div>
    </div>

    <div class="section">
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header text-primary">
                    <h1>PGC Retention Time
                        @if(nameUoxf != null || secondNameUoxf != null) {
                            - Searched @nameUoxf @if(!secondNameUoxf.isEmpty) { and @secondNameUoxf}
                        }
                        @if(min != null  || max != null){
                            -Searched Time (mins) @min @if(!max.isEmpty) { and @max }
                        }
                        @if(massLow != null || massHigh != null) {
                            - Searched Mass @massLow @if(!massHigh.isEmpty) { and @massHigh }
                        }
                    </h1>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#rt" aria-controls="home" role="tab" data-toggle="tab">Name</a></li>
                            <li role="presentation"><a href="#sample" aria-controls="data" role="tab" data-toggle="tab">Time Range</a></li>
                            <li role="presentation"><a href="#mass" aria-controls="data" role="tab" data-toggle="tab">Mass Range</a></li>

                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="rt">
                            @helper.form(action = routes.Application.showPgcDataTemp(), 'class -> "form-inline") {
                                <p>Search for structures with Oxford shorthand name. Retention time shown in minutes.</p>
                                <div class="form-group">
                                <label for="name">Name </label>
                                <input type="text" name="nameUoxf" id="name" value="M5"/>
                                </div>
                                <div class="form-group">
                                    <label for="name">Name </label>
                                    <input type="text" name="secondNameUoxf" id="secondname" value="M5"/>
                                </div>

                                <button type="submit" class="btn-sm btn-eblue">Go</button>

                            }
                            </div>
                            <div role="tabpanel" class="tab-pane" id="sample">
                            @helper.form(action = routes.Application.showPgcDataTemp(), 'class -> "form-inline") {
                                <p>Show structures within time. Retention time shown in minutes.</p>
                                <div class="form-group">
                                    <label for="min">Minimum value: </label>
                                    <input type="text" name="Minimum" id="min"/>
                                </div>
                                <div class="form-group">
                                    <label for="max">Maximum value: </label>
                                    <input type="text" name="Maximum" id="max"/>
                                </div>
                                <button type="submit" class="btn-sm btn-eblue">Go</button>
                                <
                            }
                            </div>
                            <div role="tabpanel" class="tab-pane" id="mass">
                            @helper.form(action = routes.Application.showPgcDataTemp(), 'class -> "form-inline") {
                                <p>Show structures within mass range. Retention time shown in minutes.</p>
                                <div class="form-group">
                                    <label for="min">Mass low: </label>
                                    <input type="text" name="MassLow" id="min"/>
                                </div>
                                <div class="form-group">
                                    <label for="max">Mass high: </label>
                                    <input type="text" name="MassHigh" id="max"/>
                                </div>
                                <button type="submit" class="btn-sm btn-eblue">Go</button>

                            }
                            </div>

                        </div>
                        <div id="d3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
            //console.log("NAMING: " +  @{nameUoxf} );
            var filter = "@nameUoxf";
            var filter2 = "@secondNameUoxf";
            var minTime = "@min";
            var maxTime = "@max";
            var massLow = "@massLow";
            var massHigh = "@massHigh";
    </script>

    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/pgcD3.js")"></script>
}
