@import sparql._

@(resultCeGuStd:List[SparqlEntity], resultHplcGuStd:List[SparqlEntity], resultUplcGuStd:List[SparqlEntity], resultPgc:List[SparqlEntity], result2AB:List[SparqlEntity], resultProc:List[SparqlEntity])


<div class="info-grey">
    <h3>Elution Statistics</h3>

    @if(resultCeGuStd.isEmpty) {
        @for(ce <- resultCeGuStd) {
            @if(ce.getValue("mean") != null) {
                <p>CE: @BigDecimal(ce.getValue("mean").toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble &plusmn; @BigDecimal(ce.getValue("sdev").toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</p>
            }
        }
    }

    @if(resultHplcGuStd.isEmpty) {
        @for(hplc <- resultHplcGuStd) {
            @if(hplc.getValue("mean") != null) {
                <p>HPLC (2-AB): @BigDecimal(hplc.getValue("mean").toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble &plusmn; @BigDecimal(hplc.getValue("sdev").toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</p>
            }
        }
    }

    @if(!resultPgc.isEmpty ) {
        @for(pgc <- resultPgc) {
            @if(pgc.getValue("mean") != null) {
                <p>PGC: @BigDecimal(pgc.getValue("mean").toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble &plusmn;
                    @BigDecimal(pgc.getValue("sdev").toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble (mins)</p>
            }
        }
    }

    @if(!result2AB.isEmpty) {
        @for(uplc2AB <- result2AB) {
            @if(uplc2AB.getValue("mean") != null) {
                @if(uplc2AB.getValue("sdev") != "NaN"){
                    <p>UPLC (2-AB): @BigDecimal(uplc2AB.getValue("mean").toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble &plusmn; @BigDecimal(uplc2AB.getValue("sdev").toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</p>
                }else{
                <p>UPLC (2-AB): @BigDecimal(uplc2AB.getValue("mean").toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble </p>}
            }
        }
    }

    @if(!resultProc.isEmpty) {
        @for(uplcProc <- resultProc) {
            @if(uplcProc.getValue("mean") != null) {
                @if(uplcProc.getValue("sdev") != "NaN"){
                    <p><p>UPLC (Proc.): @BigDecimal(uplcProc.getValue("mean").toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble &plusmn; @BigDecimal(uplcProc.getValue("sdev").toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</p></p>
                }else{
                <p>UPLC (Proc.): @BigDecimal(uplcProc.getValue("mean").toDouble).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble </p>}
            }

        }
    }


</div>