@import sparql._

@(reportList:List[String])

<h3 class="fh-desc">Reports</h3>
@for(report <- reportList){
    @if(report.length() > 30) {
        <a href="/searchReport/@report"><span class="badge">@report.substring(0, 30)</span></a>
    } else {
        <a href="/searchReport/@report"><span class="badge">@report</span></a>
    }
}