@import sparql._

@(sampleList:List[String])

<h3 class="fh-desc">Samples</h3>
@for(sample <- sampleList){
    @if(sample.length() > 30) {
        <a href="/searchSample/@sample"><span class="badge">@sample.substring(0, 28)</span></a>
    } else {
        <a href="/searchSample/@sample"><span class="badge">@sample</span></a>
    }
}
