@main {

    <div class="section">
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header text-primary">
                        <h2 class="subheader">The Team</h2>
                    </div>
                    <p>Matthew Campbell, Jodie Abrahams and Nicolle Packer (Institute for Glycomics, Griffith University, Australia)</p>
                    <p>Sophie Zhao, Ian Walsh, Terry Nguyen-Khuong and Pauline Rudd (BTI A*STAR, Singapore)</p>
                    <p>Louise Royle and Daniel Spencer (Ludger Ltd, UK)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header text-primary">
                        <h2 class="subheader">Cite</h2>
                    </div>

                    <p>If you cite or display any content, or reference this database (in any format), you must include a reference to:</p>
                    <p><ul>Campbell MP et al., <a href="https://academic.oup.com/bioinformatics/article-lookup/doi/10.1093/bioinformatics/btn090">
                    GlycoBase and autoGU: tools for HPLC-based glycan analysis)</a>, Bioinformatics, 2008</ul>
                    <ul>Abrahams, JL et., Building a PGC-LC-MS N-glycan retention library and elution mapping resource, Glycoconj. J., (in press)  DOI: 10.1007/s10719-017-9793-4</ul></p>
                    <p>Please include a reference to our website: www.glycostore.org</p>

                    <div class="page-header text-primary">
                        <h2 class="subheader">Integrating Data</h2>
                    </div>
                    <p>When integrating our data into a website or tool (software application, web service or similar), please cite the source in an accurate and easily discoverable manner. The above citation is required at all times.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="@routes.Assets.versioned("images/collaborators/glycomics.jpg")" class="center-block img-responsive">
                </div>
                <div class="col-md-4">
                    <img src="@routes.Assets.versioned("images/collaborators/bti.png")" class="center-block img-responsive">
                </div>
                <div class="col-md-4">
                    <img src="@routes.Assets.versioned("images/collaborators/mq.png")" class="center-block img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <img src="@routes.Assets.versioned("images/ludger_logo.jpg")" class="center-block img-responsive">
                </div>
                <div class="col-md-3">
                    <img src="@routes.Assets.versioned("images/collaborators/NIBRT.png")" class="center-block img-responsive">
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
}

