@import sparql._

@( taxonNameList: List[String],result: Map[String, String],hp:Boolean,up:Boolean,existCommon:Boolean)

@main {
  <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.tablesorter.js")"></script>
  <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.tablesorter.widgets.js")"></script>
  <script type="text/javascript">

          $(document).ready(function()
                  {
                    console.log("Trying to do sort");
                    $("#resulttable").tablesorter();
                  }
          );

  </script>

  <div class="section">
    <div class="container" >
      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <div class="pull-left">
              @if(!existCommon){
                <h1 class="info-header-grey text-primary">No common structures found </h1>
                </div></div></div>
              }else{
              <h1 class="info-header-grey text-primary">
                @if(hp){
                 average GU values by HPLC
                }else{
                  average GU values by UPLC
                }
                </h1>
            </div>
            <div class="pull-right">
              <div class="text-right brand"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <table id="resulttable" class="tablesorter">
          <thead>
          <tr><th></th><th></th>
          @for(name<-taxonNameList){
            <th>@name.toLowerCase.capitalize&nbsp;<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
          }</tr>
          </thead>
          <tbody>
          @for((key, value) <- result){
            <tr>
              @if(session.get("notation")) {
                <td><img src="@routes.Assets.versioned("images/sm-" + session.get("notation") + "/sm-" + session.get("notation") + "-" + key + ".png")"><br/>
              } else {
                <td><img src="@routes.Assets.versioned("images/sm-cfg-uoxf/sm-cfg-uoxf-" + key + ".png")">
                  }
              </td>
              <td>
              <a href=@routes.Application.showGlycan(key)>@value.split("\t")(0)</a></td>
                @if(hp) {
                @if(value.split("\t")(2)){
                  <td>@BigDecimal(value.split("\t")(2).toDouble).setScale(4, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                }else{<td></td>}
                @if(value.split("\t").length>4){<td>@BigDecimal(value.split("\t")(4).toDouble).setScale(4, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                }else{<td></td>}
                @if(value.split("\t").length>5){
                <td>@BigDecimal(value.split("\t")(6).toDouble).setScale(4, BigDecimal.RoundingMode.HALF_UP).toDouble</td>}
                }else{
                  @if(value.split("\t")(1)){<td>@BigDecimal(value.split("\t")(1).toDouble).setScale(4, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                  }else{<td></td>}
                  @if(value.split("\t").length>3){<td>@BigDecimal(value.split("\t")(3).toDouble).setScale(4, BigDecimal.RoundingMode.HALF_UP).toDouble</td>
                  }else{<td></td>}
                  @if(value.split("\t").length>5){
                    <td>@BigDecimal(value.split("\t")(5).toDouble).setScale(4, BigDecimal.RoundingMode.HALF_UP).toDouble</td>}
              }
            </tr>
          }
          </tbody>
        </table>
        }
        </div>
      </div>
    </div>
}