@import sparql._

@( proteinNameList: List[String],result: Map[String, String],existCommon:Boolean)

@main {

  <div class="section">
    <div class="container" >
      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <div class="pull-left">
            @if(!existCommon){
              <h1 class="info-header-grey text-primary">No common structures found </h1>
            </div></div></div>
            }else{
            <h1 class="info-header-grey text-primary">Common structures from
            @for(name<-proteinNameList){
            @name &nbsp; &nbsp;
            }</h1>
            </div>
            <div class="pull-right">
              <div class="text-right brand"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

  <table>

    @for((key, value) <- result){
      <tr>
        @if(session.get("notation")) {
          <td><img src="@routes.Assets.versioned("images/sm-" + session.get("notation") + "/sm-" + session.get("notation") + "-" + key + ".png")"><br/>
        } else {
          <td><img src="@routes.Assets.versioned("images/sm-cfg-uoxf/sm-cfg-uoxf-" + key + ".png")">
          }
      </td>
      <td><a href=@routes.Application.showGlycan(key)>@value</a></td>
      </tr>
    }
  </table>
}


  </div>
  </div>
  </div>
}