
@main {

  <div class="section">
    <div class="container" >
      <div class="row">
        <div class="col-md-12 ">
          <div class="page-header text-primary">
            <h2 class="subheader">Contribute Your Data to GlycoStore</h2>
          </div>
          <p>If you have confident LC, MS, CCS data, welcome to add them into GlycoStore</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="page-header text-primary">
            <h2 class="subheader">Metadata</h2>
          </div>
          <p>In compliance with MIRAGE (Minimum Information Required for A Glycomics Experiment) guidelines,
            we would like to know the experiment conditions your data derived from. We've collected
            a list of conditions that we believe is essential for other researchers to understand and replicate the data.
            </p>
          <p>Download the Excel metadata
            <a href="@routes.Assets.versioned("experiment/glycostore-meta-data-format.xlsx")">
              template
          </a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="page-header text-primary">
            <h2 class="subheader">Experiment Data</h2>
          </div>
          <p> Currently our template is limited to LC and LC-MS data. A template for CCS and spectrum data will be available soon.</p>
          <p >Download the experiment data
            <a href="@routes.Assets.versioned("experiment/glycostore-experiment-data-format.xlsx")">
              template
            </a></p>
          </div>
        </div>
      <div class="row">
        <div class="col-md-12 ">
          <div class="page-header text-primary">
            <h2 class="subheader" >Upload Data</h2></div>
            <p>Please indicate your name, affiliation and contact information in the metadata.<br />
              We will contact you once we have reviewed your uploaded data.</p>
            @helper.form(action = routes.Application.upload, 'enctype -> "multipart/form-data") {

                <div id='html_element'></div>

                    Full Name: <input type="textfield" name="name">
                    <br/>
                    Email: <input type="textfield" name="email">
                    <input type="file" name="uploaded" />
                    <p>
                    <div class="g-recaptcha" data-sitekey="6LdiCUwUAAAAAElm_d1ZohGNyYGiqi8aQQIJWSnG"></div>
                    <input type="submit" >
                    </p>
            }
            <p>If you have any other data data and would like to contribute, please contact us at info.glycostore &#9993; gmail.com </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section">

  </div>
}

