<div class="footer row-fluid">
  <div class="span12">
    <div class="footerwrapper">
      <p class="pull-left">GlycoBase</p>
      <p class="pull-right">Supported by
      <a href="http://www.nectar.org.au">NeCTAR</a> &nbsp;|&nbsp;
    </div>
  </div>
</div>
