@import sparql._

@(x: List[SparqlEntity] )


@main {

    <div class="hero">
        <div class="wrap">
            <div class="text">
                <strong>Glycoprotein Summary</strong>
            </div>
            <div class="minitext">Structures associated</div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            @*<div class="row">
                <div class="col-md-12">
                    <div class="page-header text-primary">
                        <h1 class="info-header-black">Glycoprotein Summary</h1><br><br>
                    </div>
                </div>
            </div>*@
            <div class="row">
                <div class="col-md-9">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                    <table class="table">
                        <thead><tr>
                            <th>Name (Oxford Style)</th>
                            <th>Structure</th>
                            <th>Protein</th>
                        </tr></thead>
                        <tbody>

                        @for(entry <-x){
                            <tr>
                                <td><a href=@routes.Application.showGlycan(entry.getValue("GlycoBaseId"))>@entry.getData.get("Uoxf")</a></td>
                                @if(session.get("notation")){
                                    <td>
                                        <img src="@routes.Assets.versioned("images/sm-"+session.get("notation")+"/sm-"+session.get("notation")+"-" + entry.getValue("GlycoBaseId") +".png")"><br/>
                                } else{
                                    <td><img src="@routes.Assets.versioned("images/sm-cfg-uoxf/sm-cfg-uoxf-" + entry.getValue("GlycoBaseId") +".png")">
                                        }
                                </td>
                                <td>@entry.getValue("ProteinName")</td>

                            </tr>
                        }</tbody>

                    </table>
                </div>
                <div class="col-md-3 sidebar">
                  @views.html.format.format()
                </div>
            </div>
        </div>
    </div>


}