@import sparql._

@import play.api.Play
@(glycobaseid: String, uoxf:String, ctSequence:String, json:String, spectraId:Int, recordLen:Int, reactionLen:Int, literatureLen:Int, profileLen:Int, RecordList:List[SparqlEntity], LiteratureList:List[SparqlEntity], ReactionList:List[SparqlEntity], ProfileList:List[SparqlEntity], UniqueReports:Set[String], resultCeGuStd:List[SparqlEntity], resultHplcGuStd:List[SparqlEntity], resultUplcGuStd:List[SparqlEntity], resultPgc:List[SparqlEntity], result2AB:List[SparqlEntity], resultProc:List[SparqlEntity])





@main {

    @if(spectraId > 0){
        <script src="@routes.Assets.versioned("javascripts/st.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/d3.js")"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/st.css")">
    }

    @*<div class="hero">
        <div class="wrap">
            <div class="text">
                <strong>Structure Information</strong>
            </div>
            <div class="minitext">@uoxf</div>
        </div>
    </div>*@

    <div class="section">
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <div class="pull-left">
                            <h1 class="info-header-grey text-primary">Structure Information</h1>
                            <div class="minitext">@uoxf</div>
                        </div>
                        <div class="pull-right">
                            <div class="text-right brand"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    @if(session.get("notation")){
                        <img class="img-responsive glycan-img" src="@routes.Assets.versioned("images/lg-"+session.get("notation")+"/lg-"+session.get("notation")+"-" +glycobaseid+".png")"  alt=""/>
                    } else{
                        <img class="img-responsive glycan-img" src="@routes.Assets.versioned("images/lg-cfg-uoxf/lg-cfg-uoxf-" +glycobaseid+".png")"  alt=""/>
                    }

                        <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Publications</a></li>
                        <li role="presentation"><a href="#data" aria-controls="data" role="tab" data-toggle="tab">Data Source Description</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profiles</a></li>
                        <li role="presentation"><a href="#enzymes" aria-controls="profile" role="tab" data-toggle="tab">Exoglycosidase Info</a></li>
                        <li role="presentation"><a href="#sequence" aria-controls="sequence" role="tab" data-toggle="tab">GlycoCT</a></li>
                        @if(spectraId>0){
                            <li role="presentation"><a href="#spectra" aria-controls="profile" role="tab" data-toggle="tab">MS2 Spectra</a></li>
                        }
                    </ul>

                        <!-- Tab panes -->
                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane active" id="home">
                            <h4>@literatureLen Publications</h4>
                            @if(literatureLen > 0){
                                <table class="table table-striped">
                                    <thead><tr>
                                        <th>Title</th><th>Year</th><th>GU (2-AB)</th><th>GU (Procainamide)</th><th>PeakArea</th><th>MS1</th><th>MS2</th>
                                    </tr></thead>
                                    <tbody>
                                    @for(lit <-LiteratureList){
                                        <tr>
                                            <td><a href="/reference/@lit.getValue("Title")">@lit.getValue("Title")</a></td>
                                            <td>@lit.getValue("Year")</td>
                                            <td>@lit.getValue("Gu2AB")</td>
                                            <td>@lit.getValue("GuProcainamide")</td>
                                            <td>@lit.getValue("PeakArea")</td>
                                            <td>@lit.getValue("Ms1Verified")</td>
                                            <td>@lit.getValue("Ms2Verified")</td>
                                        </tr>
                                    }</tbody>
                                </table>
                            }
                        </div>

                        <div role="tabpanel" class="tab-pane" id="data">
                        @if(recordLen > 0){
                            <table class="table table-striped">
                                <thead><tr>
                                    <th>GU</th><th>Label</th><th>EvidenceType</th><th>Report</th><th>Sample</th><th>Taxon</th><th>Profile</th>
                                </tr></thead>
                                <tbody>
                                @for(record <-RecordList){
                                    <tr>
                                        <td>@record.getValue("Gu")</td>
                                        <td>@record.getValue("LabelType")</td>
                                        <td><a href=@routes.Application.listProfie4Type(record.getValue("EvidenceType").split("_")(1))>@record.getValue("EvidenceType").split("_")(1)</a></td>
                                        @if(record.getValue("ReportName")){
                                            <td><a href=@routes.Application.searchReport(record.getValue("ReportName"))>@record.getValue("ReportName")</a></td>
                                        }else{<td>  </td>}
                                        @if(record.getValue("SampleName")){
                                            <td><a href=@routes.Application.searchSample(record.getValue("SampleName"))>@record.getValue("SampleName")</a></td>
                                        }else{<td>  </td>}
                                        @if(record.getValue("Taxon")){
                                            <td><a href=@routes.Application.searchTaxon(record.getValue("Taxon"))>@record.getValue("Taxon").toLowerCase.capitalize</a></td>
                                        }else{<td>  </td>}
                                        @if(record.getValue("EvidenceURI")){
                                            <td><a href=@routes.Application.searchProfile(record.getValue("EvidenceURI").split("/")(4))>@record.getValue("EvidenceURI").split("/")(4)</a></td>
                                        }else{<td> </td>}
                                    </tr>
                                }</tbody>
                            </table>
                        }
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">

                        @if(profileLen > 0){
                            <table class="table table-striped">
                                <thead><tr>
                                    <th>Evidence Profile</th><th>Evidence Type</th>
                                </tr></thead>
                                <tbody>
                                @for(profile <-ProfileList){
                                    <tr>
                                        @if(profile.getValue("ProfileURI")) {
                                            <td><a href=@routes.Application.searchProfile(profile.getValue("ProfileURI").split("/")(4))>@profile.getValue("ProfileURI").split("/")(4)</a></td>
                                        }
                                        @if(profile.getValue("EvidenceType")) {
                                            <td><a href=@routes.Application.listProfie4Type(profile.getValue("EvidenceType").split("_")(1))>@profile.getValue("EvidenceType").split("_")(1)</a></td>
                                        }
                                    </tr>
                                }</tbody>
                            </table>
                        }

                        </div>
                        <div role="tabpanel" class="tab-pane" id="enzymes">
                            <h4>@reactionLen reactions</h4>
                            @if(reactionLen > 0){
                                <table class="table ">
                                    <thead><tr>
                                        <th>Digest Parent</th><th>Enzyme</th><th>Current Structure</th><th>Enzyme</th><th>Digest Product</th>
                                    </tr></thead>
                                    <tbody>
                                    @for(reaction <-ReactionList){
                                        <tr>@if(reaction.getValue("SubstrateUoxf")==uoxf){
                                            <td></td><td></td><td><img src=@{routes.Image.showImageReaction(glycobaseid, session.get("notation"), "normal")} " alt=""/><br/>@uoxf</td>
                                            <td>@reaction.getValue("Enzyme")</td>
                                            <td><img src=@{routes.Image.showImageReaction(reaction.getValue("ProductId"), session.get("notation"), "normal")} " alt=""/><br/> @reaction.getValue("ProductUoxf")</td>
                                        }else{
                                            <td><img src=@{routes.Image.showImageReaction(reaction.getValue("SubstrateId"), session.get("notation"), "normal")} " alt=""/><br/>@reaction.getValue("SubstrateUoxf")</td>
                                            <td>@reaction.getValue("Enzyme")</td>
                                            <td><img src=@{routes.Image.showImageReaction(glycobaseid, session.get("notation"), "normal")} " alt=""/><br/>@uoxf</td><td></td><td></td>

                                        }</tr>
                                    }</tbody>
                                </table>
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane" id="sequence">
                            <pre>@ctSequence</pre>

                        </div>

                        <div role="tabpanel" class="tab-pane" id="spectra">
                            <h4>Spectra</h4>
                            <div id="wrap">
                                <div id="stgraph" class="stgraph"></div>
                            </div>
                        </div>


                        <div role="tabpanel" class="tab-pane" id="messages">...</div>
                        <div role="tabpanel" class="tab-pane" id="settings">...</div>
                    </div>


                </div>

                <div class="col-md-3 sidebar">
                    @views.html.format.format()
                    <hr/>
                    @*views.html.databaselinks.unicarbkb()*@
                    @views.html.structureStats.std(resultCeGuStd, resultHplcGuStd, resultUplcGuStd, resultPgc, result2AB, resultProc)

                    @if(spectraId>0){
                        @views.html.general.spectraIT()
                    }

                    <hr/>
                    <h3 class="fh-desc" >Information</h3>
                    @for(report <- UniqueReports){
                        @if(report.length() > 30) {
                            <span class="badge">@report.toString().substring(0, 30)</span>
                        } else {
                            <span class="badge">@report</span>
                        }
                    }

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

            var obj = @Html(json)

            var chart = st.chart          // new chart
                    .ms()                 // of type MS
                    .xlabel("m/z")        // x-axis label
                    .ylabel("Intensity"); // y-axis label
            chart.render("#stgraph");     // render chart to id 'stgraph'

            var handle = st.data          // new handler
                    .set()                    // of type set
                    // y-domain limits
                    .x("peaks.mz")            // x-accessor
                    .y("peaks.intensity");    // y-accessor

            // bind the data handler to the chart
            chart.load(handle);
            // load the spectrum and annotations for Uridine
            //handle.add("/assets/spectra/out2.json");
            handle.add(obj);


    </script>

}
