@(formGu: Form[GuRangeData])
@import views.html.helper._

@main {

    <h1>Write desired Gu/Au Range</h1>

    @helper.form(action = routes.Application.getGuRange()) {

        <label for="name">Experiment Type: </label>
        <select name="type" id="name">
            <option>HPLC</option>
            <option>UPLC_2-AB</option>
            <option>UPLC_Procainamide</option>
            <option>RPUPLC</option>
            <option>CE</option>
        </select><br/>
        <label for="min">Minimum value: </label>
        <input type="text" name="Minimum" id="min"/><br/>
        <label for="max">Maximum value: </label>
        <input type="text" name="Maximum" id="max"/><br/>

        @* @helper.inputText(formGu("minValue"))
        @helper.inputText(formGu("maxValue"))
        @helper.select*@

        <input type="submit" value="OK" />
    }

}