
@import views.html.helper._


@main {

<h1>Type GlycoBase id to search: </h1>

@helper.form(action = routes.Application.getID()) {

<label for="id">ID: </label>
<input type="text" name="glycobaseID" id="id"/><br/>

<input type="submit" value="OK" />
}

}