@main {
    <div class="cover">
        <div class="cover-image">
            <img src="@routes.Assets.versioned("images/htludger.jpg")" class="cover-image">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-inverse">Relating Structure to Separation</h1>
                    <p class="text-inverse">Integrated Platform of Glycan Retention Properties</p>
                    <br>
                    <br>
                    <a href="/collections" class="btn btn-lg btn-primary">Explore</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="@routes.Assets.versioned("images/collaborators/glycomics.jpg")" class="center-block img-responsive">
                </div>
                <div class="col-md-4">
                    <img src="@routes.Assets.versioned("images/collaborators/bti.png")" class="center-block img-responsive">
                </div>
                <div class="col-md-4">
                    <img src="@routes.Assets.versioned("images/collaborators/mq.png")" class="center-block img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <img src="@routes.Assets.versioned("images/ludger_logo.jpg")" class="center-block img-responsive">
                </div>
                <div class="col-md-3">
                    <img src="@routes.Assets.versioned("images/collaborators/NIBRT.png")" class="center-block img-responsive">
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>


    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74498737-1', 'auto');
  ga('send', 'pageview');

</script>

}