@import sparql._
@(proteinList: List[SparqlEntity])


@main {

  <div class="section">
    <div class="container" >
      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <div class="pull-left">
              <h1 class="info-header-grey text-primary">Compare Glycoproteins for Common Structures</h1>
            </div>
            <div class="pull-right">
              <div class="text-right brand"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <script type="text/javascript">
                jQuery(function(){
                  var max = 3;
                  var min = 2;
                  var checkboxes = $('input[type="checkbox"]');
                  var submitbutton = $('input[type="submit"]');

                  checkboxes.change(function(){
                    var current = checkboxes.filter(':checked').length;
                    checkboxes.filter(':not(:checked)').prop('disabled', current >= max);
                    if (current < min){
                      submitbutton.hide();
                    }
                    else{
                      submitbutton.show();
                    }
                  });
                });
        </script>


        <div class="tab-content">
          <div id="taxonomy">
            <h4>Choose 2 to 3 Glycoproteins to Compare </h4>

            @helper.form(action = routes.Application.displayProtein()) {
              <table>
              @for(protein <- proteinList) {
                <tr>
                  <td>
                    <input type="checkbox" name="@protein.getValue("ProteinName")" value="@protein.getValue("ProteinName")"/>@protein.getValue("ProteinName")
                  </td>
                </tr>
              }
              </table>
              <input type="submit" value="OK">

            </div>
          }

        </div>

      </div>
    </div>
  </div>

}