
@import views.html.helper._


@main {

<h1>Type profile id to search: </h1>

@helper.form(action = routes.Application.getProfileID()) {

<label for="id">Profile id: </label>
<input type="text" name="profile" id="id"/><br/>

<input type="submit" value="OK" />
}

}