@import sparql._

@(count: Int, expType: String, x: List[SparqlEntity] )


@main {

<h1>@count profiles found under: @expType</h1>



@if(count>0){
<table class="table table-striped">
    <thead><tr>
        <th>Profile</th>
    </tr></thead>
    <tbody>
    @for(entry <-x){
    <tr><td>
        <a href=@routes.Application.searchProfile(entry.getValue("ProfileURI").split("/")(4))>@entry.getValue("ProfileURI").split("/")(4)</a>
    </td></tr>}
    </tbody>

</table>

}


}