@import sparql._

@(sampleList: List[SparqlEntity], proteinList: List[SparqlEntity], reportList: List[SparqlEntity], tissueList: List[SparqlEntity], taxonList: List[SparqlEntity])

    @main {
        @*<div class="hero">
        <div class="wrap">
        <div class="text">
        <strong>Search GlycoStore</strong>
        </div>
        </div>
        </div>*@
        <div class="section">
            <div class="container" >
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <div class="pull-left">
                                <h1 class="info-header-grey text-primary">Search GlycoStore</h1>
                            </div>
                            <div class="pull-right">
                                <div class="text-right brand"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                        <div class="row">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#rt" aria-controls="home" role="tab" data-toggle="tab">
                                    Technology Platform</a></li>
                                <li role="presentation"><a href="#sample" aria-controls="data" role="tab" data-toggle="tab">
                                    Sample Name</a></li>
                                <li role="presentation"><a href="#glycoprotein" aria-controls="data" role="tab" data-toggle="tab">
                                    Glycoprotein</a></li>
                                <li role="presentation"><a href="#report" aria-controls="profile" role="tab" data-toggle="tab">
                                    Report Name</a></li>
                                <li role="presentation"><a href="#tissue" aria-controls="profile" role="tab" data-toggle="tab">
                                    Tissue</a></li>
                                <li role="presentation"><a href="#taxonomy" aria-controls="profile" role="tab" data-toggle="tab">
                                    Taxonomy</a></li>
                            </ul>
                            <div class="tab-content">

                                <div role="tabpanel" class="tab-pane active" id="rt">

                                @helper.form(action = routes.Application.getGuRange(), 'class -> "form-inline") {
                                    <h4>Search for structures with a matching retention range</h4>
                                    <p>Data collections available include:</p>
                                    <ul>
                                        <li>HPLC and UPLC with 2-aminobenzamide label</li>
                                        <li>UPLC with 2-AB or Procainamide label</li>
                                        <li>RPUPLC using 2-AB</li>
                                        <li>Capillary electrophoresis, samples labeled with APTS</li>
                                        <li>Reduced glycans run on Porous graphitic carbon</li>
                                    </ul>
                                    <br/>
                                    <div class="form-group">
                                        <label for="name">Experiment Type: </label>
                                        <select name="type" id="name">
                                            <option>HPLC</option>
                                            <option>UPLC_2-AB</option>
                                            <option>UPLC_Procainamide</option>
                                            <option>RPUPLC</option>
                                            <option>CE</option>
                                            <option>PGC</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="min">Minimum value: </label>
                                        <input type="text" name="Minimum" id="min"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="max">Maximum value: </label>
                                        <input type="text" name="Maximum" id="max"/>
                                    </div>

                                    <button type="submit" class="btn-sm btn-eblue">Go</button>

                                }
                                </div>

                                <div role="tabpanel" class="tab-pane" id="sample">

                                    <h4>Search By Sample</h4>
                                    @helper.form(action = routes.Application.getSampleName(), 'class -> "form-inline") {

                                        <label for="name">Sample Name: </label>
                                        <select name="SampleName" id="name" >
                                        @for(sample <- sampleList) {
                                            <option>@sample.getValue("SampleName")</option>>
                                        }</select>

                                        <input type="submit" value="OK" />
                                    }

                                </div>

                                <div role="tabpanel" class="tab-pane" id="glycoprotein">

                                    <h4>Search By Protein</h4>
                                    @helper.form(action = routes.Application.getProtein(), 'class -> "form-inline") {

                                        <label for="name">Protein Name: </label>
                                        <select name="ProteinName" id="name" >
                                        @for(protein <- proteinList) {
                                            <option>@protein.getValue("ProteinName")</option>>
                                        }</select>

                                        <input type="submit" value="OK" />
                                    }

                                </div>


                                @* <div role="tabpanel" class="tab-pane" id="glycoprotein">

                                <h4>Search By Protein</h4>
                                @helper.form(action = routes.Application.getProtein(), 'class -> "form-inline") {

                                <label for="name">Proteins: </label>
                                <select name="ProteinName" id="name">
                                <option>Human IgG</option>
                                <option>AAT</option>
                                <option>RNAse B</option>
                                <option>IgG</option>
                                <option>Transferrin</option>
                                <option>Haptoglobin</option>
                                <option>Human IgA</option>
                                <option>Ovalbumn</option>
                                <option>Alpha-1-Acid Glycoprotein</option>
                                <option>Lactoferrin</option>
                                </select>

                                <input type="submit" value="OK" />
                                }

                                </div>
                                *@

                                <div role="tabpanel" class="tab-pane" id="report">

                                    <h4>Choose Report name to search: </h4>

                                    @helper.form(action = routes.Application.getReportName(), 'class -> "form-inline") {

                                        <label for="name">Report: </label>
                                        <select name="report" id="name">
                                        @for(report <- reportList) {
                                            <option>@report.getValue("ReportName")</option>
                                        }</select>

                                        <input type="submit" value="OK" />
                                    }


                                </div>

                                <div role="tabpanel" class="tab-pane" id="tissue">

                                    <h4>Search By Tissue</h4>

                                    @helper.form(action = routes.Application.getTissueName(), 'class -> "form-inline") {

                                        <label for="name">Tissue: </label>
                                        <select name="tissue" id="name">
                                        @for(tissue <- tissueList) {
                                            <option>@tissue.getValue("Tissue")</option>
                                        }</select>

                                        <input type="submit" value="OK" />
                                    }

                                </div>


                                <div role="tabpanel" class="tab-pane" id="taxonomy">

                                    <h4>Search By Taxonomy</h4>

                                    @helper.form(action = routes.Application.getTaxonName(), 'class -> "form-inline") {

                                        <label for="name">Taxonomy: </label>
                                        <select name="TaxonName" id="name">
                                        @for(taxon <- taxonList) {
                                            <option>@taxon.getValue("Taxon").toLowerCase.capitalize</option>
                                        }</select>

                                        <input type="submit" value="OK" />
                                    }
                                </div>

                                <div role="tabpanel" class="tab-pane" id="name">

                                    <h4>Write glycan name in uoxf format: </h4>

                                    @helper.form(action = routes.Application.getUoxf(), 'class -> "form-inline") {

                                        <label for="name">UOXF: </label>
                                        <input type="text" name="uoxf" id="name"/>
                                        <br/>

                                        <input type="submit" value="OK" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }