@import sparql._

@(count: Int, x: List[SparqlEntity])


    @main {

    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.tablesorter.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.tablesorter.widgets.js")"></script>
    <script type="text/javascript">

            $(document).ready(function()
                    {
                        console.log("Trying to do sort");
                        $("#resulttable").tablesorter();
                    }
            );

    </script>
        @*<div class="hero">
        <div class="wrap">
        <div class="text">
        <strong>References</strong>
        </div>
        </div>
        </div>*@
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <div class="pull-left">
                                <h1 class="info-header-grey text-primary">References</h1>
                            </div>
                            <div class="pull-right">
                                <div class="text-right brand"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    @if(count > 0) {

                        <table id="resulttable" class="table table-striped tablesorter">
                            <thead><tr>
                                <th>Title &nbsp;<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
                                <th>Author &nbsp;<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
                                <th>Year &nbsp;<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
                                <th>Journal &nbsp;<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
                            </tr></thead>
                            <tbody>
                            @for(entry <- x) {
                                <tr>
                                    <td><a href='@routes.Application.searchReference(entry.getValue("PaperTitle"))'>@entry.getValue("PaperTitle")</a></td>
                                    <td>@entry.getValue("PaperAuthor") </td>
                                    <td>@entry.getValue("PaperYear") </td>
                                    <td>@entry.getValue("JournalName") </td>
                                </tr>
                            }</tbody>

                        </table>

                    }
                </div>
            </div>
        </div>


    }