@import sparql._
@import views.html.helper._

@(ReportList:List[SparqlEntity])
@main {

<h1>Choose Report name to search: </h1>

@helper.form(action = routes.Application.getReportName()) {

<label for="name">Report: </label>
<select name="report" id="name">
    @for(report <- ReportList){
    <option>@report.getValue("ReportName")</option>
}</select>

<input type="submit" value="OK" />
}

}