@import helper._
@import sparql._

@(sampleList:List[SparqlEntity])

@main {

    <h1>Search By Sample</h1>
    @helper.form(action = routes.Application.getSampleName()) {

    <label for="name">Sample Name: </label>
    <select name="SampleName" id="name" class="selectpicker">
        @for(sample <- sampleList){
        <option>@sample.getValue("SampleName")</option>>
    }</select>

    <input type="submit" value="OK" />
    }

}