@import sparql._
@(taxonList:List[SparqlEntity])

@main {

    <h1>Search By Taxonomy</h1>

    @helper.form(action = routes.Application.getTaxonName()) {

        <label for="name">Taxonomy: </label>
        <select name="TaxonName" id="name">
        @for(taxon <- taxonList){
            <option>@taxon.getValue("Taxon").toLowerCase.capitalize</option>
        }</select>

        <input type="submit" value="OK" />
    }
}