@import sparql._

@import play.api.Play
@(filename:String)

@main {
  <div class="section">
    <div class="container" >
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="page-header text-primary">
            <h2 class="subheader">Thank You!</h2>
          </div>
          <h3>Your file @filename is with us now. <br />
            Thank you for contributing to GlycoStore.
            We will contact you shortly.</h3>

        </div>
      </div>

    </div>
  </div>

}
