@import sparql._
@(tissueList:List[SparqlEntity])

@main {

<h1>Search By Tissue</h1>

@helper.form(action = routes.Application.getTissueName()) {

<label for="name">Tissue: </label>
<select name="tissue" id="name">
    @for(tissue <- tissueList){
    <option>@tissue.getValue("Tissue")</option>
}</select>

<input type="submit" value="OK" />
}
}