
@import views.html.helper._


@main {

<h1>Write glycan name in uoxf format: </h1>

@helper.form(action = routes.Application.getUoxf()) {

<label for="name">UOXF: </label>
<input type="text" name="uoxf" id="name"/><br/>

<input type="submit" value="OK" />
}

}