<div class="info-grey">
    <h3>Data Source</h3>
    <img align="center" src="http://www.ludger.com/images/logos/ludger-logo-main-header.jpg">
    <p>Human IgG Glycoprotein Standard, Commercial Standards, GCP-IgG, GCP-Fet, tsetse fly saliva</p>
    <h3>Methods</h3>
    <p>2-AB labelled samples were analysed by HILIC-UPLC using an ACQUITY UPLC® BEH-Glycan 1.7 μm, 2.1 x 150 mm column on an ACQUITY UPLC H-Class instrument</p>
    <p>Buffer A was 50 mM ammonium formate made from Ludger stock buffer, Buffer B was acetonitrile. Samples were injected in 28% aqueous/72% acetonitrile (28 μL sample + 72 μL acetonitrile); injection volume 25μL. Gradient conditions were: 0-27min, 28-38%A; 27-30min, 38-100%A; 30-31min,100% A; 31-32min, 100-28%A; 32-35min, 28%A; at a flow rate of 0.4 mL/min.</p>
    <a href=""><span class='label label-ionmobblue'><span class='icon-adjust icon-white'></span> UniCarbKB</span></a>
    <a href=""><span class='label label-ionmobblue'><span class='icon-font icon-white'></span> GlyTouCan</span></a>
</div>