@main{

    @*<div class="hero">
        <div class="wrap">
            <div class="text">
                <strong>Data Collections</strong>
            </div>
        </div>
    </div>*@

    <div class="section">
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <div class="pull-left">
                            <h1 class="info-header-grey text-primary">Data Collections</h1>
                        </div>
                        <div class="pull-right">
                            <div class="text-right brand"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead><tr>
                            <th>Collection</th>
                            <th>Description</th>
                            <th>Samples</th>
                            <th>Analytical Technique</th>
                        </tr></thead>

                        <tbody>
                            <tr>
                                <td><a href="/showPgc">PGC Retention Library</a></td>
                                <td>Comprehensive retention library of N-glycans</td>
                                <td>Mix of standard glycoproteins</td>
                                <td>PGC-LC-ESI-MS/MS</td>
                            </tr>
                            <tr>
                                <td><a href=@routes.BuildCollectionsJson.buildCollectionsJson("NIBRT Public Collection")>Human Serum N-glycans (NIBRT)</a></td>
                                <td>Glycans characterised in house at NIBRT</td>
                                <td>Human Serum</td>
                                <td>HILIC-UPLC</td>
                            </tr>
                            <tr>
                                <td><a href=@routes.BuildCollectionsJson.buildCollectionsJson("Reverse Phase UPLC")>RP IgG glycans</a></td>
                                <td>N-glycans characterised by reverse-phase UPLC</td>
                                <td>Human IgG</td>
                                <td>RP-UPLC</td>
                            </tr>
                            <tr>
                                <td><a href=@routes.BuildCollectionsJson.buildCollectionsJson("Royle (2008) Paper Serum N-glycans")>Royle (2008) Paper</a></td>
                                <td>HPLC-based analysis of serum N-glycans on a 96-well plate platform with dedicated database software.</td>
                                <td>Human Serum</td>
                                <td>HILIC-HPLC</td>
                            </tr>
                            <tr>
                                <td><a href=@routes.BuildCollectionsJson.buildCollectionsJson("Domestic Animals - Milk Oligosaccharides")>Milk Oligosaccharides</a></td>
                                <td>A comprehensive overview of milk oligosaccharides from a variety of domestic animal species including cow, goat, sheep, pig, horse, and dromedary camel.
                                </td>
                                <td>Cow, Dromedary Camel, Goat, Horse, Pig, Sheep</td>
                                <td>HILIC-UPLC</td>
                            </tr>
                            <tr>
                                <td><a href=@routes.BuildCollectionsJson.buildCollectionsJson("CE Database")>CE Database</a></td>
                                <td>N-glycans analysed by capillary electrophoresis</td>
                                <td>Haptoglobin, IgG, Purified Standards, RNAse B, Transferrin</td>
                                <td>CE-LIF</td>
                            </tr>
                            <tr>
                                <td><a href=@routes.BuildCollectionsJson.buildCollectionsJson("Published Glycans")>Original Release of GlycoBase</a></td>
                                <td>N-glycans analysed at the Oxford Glycobiology institute. Original release of Glycobase.</td>
                                <td>Various N-Glycans</td>
                                <td>HILIC-HPLC</td>
                            </tr>
                            <tr>
                                <td><a href=@routes.BuildCollectionsJson.buildCollectionsJson("O-Glycans")>O-Glycans</a></td>
                                <td>O-glycans</td>
                                <td>Various O-Glycans</td>
                                <td>HILIC-HPLC</td>
                            </tr>
                            <tr>
                                <td><a href=@routes.BuildCollectionsJson.buildCollectionsJson("BTI N-glycans")>BTI N-glycans</a></td>
                                <td>N-glycans analysed at Bioprocessing Technology Institute</td>
                                <td>IgG, AAT, mouse serum, human serum IgG</td>
                                <td>UPLC</td>
                            </tr>
                            <tr>
                                <td><a href=@routes.BuildCollectionsJson.buildCollectionsJson("Ludger")>Ludger</a></td>
                                <td>Glycan structures</td>
                                <td>IgG, GCP-IgG, GCP-Fet, tsetse fly saliva, Ludger Standards</td>
                                <td>UPLC</td>
                            </tr>
                            <tr>
                                <td><a href=@routes.BuildCollectionsJson.buildCollectionsJson("BTI GSL Standards")>BTI GSL Standards</a></td>
                                <td>UPLC analysed glycosphingolips (GSL) standards labelled with 2-AB and procainamide</td>
                                <td>Ganglio-, Lacto-, Neolacto-, Globo- and Iso-globo</td>
                                <td>UPLC</td>
                            </tr>
                            <tr>
                                <td><a href=@routes.BuildCollectionsJson.buildCollectionsJson("NIBRT GSL")>NIBRT GSL</a></td>
                                <td>UPLC analysed glycans released from glycosphingolips (GSL) labelled with 2-AB</td>
                                <td>Standards, murine NIH/3T3, human Hela, HL60, human serum</td>
                                <td>UPLC</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
}